[submodule "lib/chainlink-brownie-contracts"]
    path = lib/chainlink-brownie-contracts
    url = <URL to the chainlink-brownie-contracts repository>
[submodule "FundMe/lib/foundry-devops"]
	path = FundMe/lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops
[submodule "FundMe/lib/forge-std"]
	path = FundMe/lib/forge-std
	url = https://github.com/foundry-rs/forge-std